{% macro rabbitmq_hosts() -%}
{% for host in groups['rabbitmq'] -%}
   {% if loop.last -%}
'{{ rabbitmq.user }}@{{ hostvars[host]['ansible_hostname'] }}'
   {%- else -%}
'{{ rabbitmq.user }}@{{ hostvars[host]['ansible_hostname'] }}',
   {%- endif -%}
{% endfor -%}
{% endmacro -%}

[
  {rabbit, [
    {default_user, <<"{{ rabbitmq.users[0].username }}">>},
    {default_pass, <<"{{ rabbitmq.users[0].password }}">>},
{% if rabbitmq.cluster|bool %}
    {cluster_nodes, {[{{ rabbitmq_hosts() }}], disc} },
{% else %}
    {cluster_nodes, {["{{ rabbitmq.user }}@{{ ansible_hostname }}"], disc} },
{% endif %}
{% if rabbitmq.ssl.enabled|bool %}
    {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
    {ssl_listeners, [5671]},
    {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
           {certfile,"/etc/rabbitmq/ssl/cert.pem"},
           {keyfile,"/etc/rabbitmq/ssl/key.pem"},
           {depth, {{ rabbitmq.ssl.peer_depth }}},
           {verify, verify_{{ rabbitmq.ssl.verify|lower}}},
           {fail_if_no_peer_cert, {{ rabbitmq.ssl.no_peer_cert|lower }}}]}
{% endif %}
  ]},
  {rabbitmq_management, [
    {listener, [
      {port, {{ rabbitmq.management_port }}}
    ]}
  ]},
  {kernel, [
    {inet_dist_listen_min, 65535},
    {inet_dist_listen_max, 65535}
  ]}
].
